@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply w-full h-full m-0 p-0 overflow-x-hidden antialiased;
    /* Ajuste para evitar que el contenido "salte" con el scroll en navegadores de celular */
    -webkit-tap-highlight-color: transparent;
  }
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

.scrollbar-hide{
  scrollbar-width: none;
}